.forInvoice input,
.forInvoice textarea {
    background-color: #FFB938 !important;
    /* color: white !important; */
}

::-webkit-scrollbar {
    width: 0px;
}

.Customtable {
    margin-top: 20px;
    padding: 0px !important;
    border-radius: 10px !important;
    border: 1.5px solid black !important;
    overflow: hidden;
}

.Customtable table {
    margin: 0px !important;
    /* background-color: #FFB938 !important; */
}

.Customtable table tr,
.Customtable table td,
.Customtable table th {
    background-color: #FFB938 !important;
}

.forInvoice {
    width: calc(100vw - 350px) !important;
    height: calc(100vh - 110px) !important;
    overflow: scroll;
}

.forInvoice textarea {
    text-align: left;
    height: 80px;
}