/* General resets and font settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
  }
  
  .sidebar {
    flex: 1;
    background-color: #f8f9fa;
    padding: 20px;
    overflow-y: auto;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar .auth-links {
    margin-top: 20px;
  }
  
  .auth-links .logout-button {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .main-content {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .table-container {
    overflow-x: auto;
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #4ECDC4;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #B9E5E1;
  }
  
  .total {
    background-color: white;
    font-weight: bold;
    text-align: right;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  
    .main-content {
      flex: 1;
    }
  
    table, thead, tbody, th, td, tr {
      display: block;
    }
  
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    tr {
      border: 1px solid #ddd;
      margin-bottom: 10px;
    }
  
    td {
      border: none;
      position: relative;
      padding-left: 50%;
    }
  
    td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }
  }
  